---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="About TechToTinker">
  <section class="default">
    <p>Hello from about</p>
  </section>
</MainLayout>
