---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact" description="TechToTinker contact page">
  <section class="default">
    <p>Hello from contact</p>
  </section>
</MainLayout>
