<div class="search-box">
  <form id="search-form" action="/search">
    <i class="fas fa-search fa-xs"></i>
    <div class="input-box">
      <input
        type="text"
        id="query"
        name="query"
        placeholder="Search..."
        required
      />
    </div>
  </form>
</div>
